In [1]:
import pandas as pd

In [3]:
# Problem 1
df = pd.read_csv('Salaries.csv', low_memory=False)
print(df.head())

   Id       EmployeeName                                        JobTitle  \
0   1     NATHANIEL FORD  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1   2       GARY JIMENEZ                 CAPTAIN III (POLICE DEPARTMENT)
2   3     ALBERT PARDINI                 CAPTAIN III (POLICE DEPARTMENT)
3   4  CHRISTOPHER CHONG            WIRE ROPE CABLE MAINTENANCE MECHANIC
4   5    PATRICK GARDNER    DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)

     BasePay OvertimePay   OtherPay Benefits   TotalPay  TotalPayBenefits  \
0  167411.18         0.0  400184.25      NaN  567595.43         567595.43
1  155966.02   245131.88  137811.38      NaN  538909.28         538909.28
2  212739.13   106088.18    16452.6      NaN  335279.91         335279.91
3    77916.0    56120.71   198306.9      NaN  332343.61         332343.61
4   134401.6      9737.0  182234.59      NaN  326373.19         326373.19

   Year  Notes         Agency Status
0  2011    NaN  San Francisco    NaN
1  2011    NaN  San Francisco    NaN
2  2011    NaN  San Francisco    NaN
3  2011    NaN  San Francisco    NaN
4  2011    NaN  San Francisco    NaN

In [4]:
# Problem 2
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB
None

In [5]:
# There are 148,654 entries

In [15]:
# Problem 3
base_pay = pd.to_numeric(df['BasePay'], errors='coerce')
print(base_pay[0:1000].mean())

145663.99820000018

In [17]:
# Problem 4
print(df['TotalPayBenefits'].max())

567595.43

In [49]:
# Problem 5
df.loc[df['EmployeeName'] == 'JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [22]:
# Problem 6
df.loc[df['EmployeeName'] == 'JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

In [23]:
# Problem 7
df.loc[df['TotalPayBenefits'] == df['TotalPayBenefits'].max()]['EmployeeName']

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

In [51]:
# Problem 8
print(df.loc[df['TotalPayBenefits'] == df['TotalPayBenefits'].min()]['EmployeeName'])
print(df['TotalPayBenefits'].min())
# This is a negative number, must be a data collection error

148653    Joe Lopez
Name: EmployeeName, dtype: object
-618.13

In [31]:
# Problem 9
df.groupby(['Year'])['TotalPay'].mean().reset_index()

   Year      TotalPay
0  2011  71744.103871
1  2012  74113.262265
2  2013  77611.443142
3  2014  75463.918140

In [34]:
# Problem 10
len(df['JobTitle'].unique())

2159

In [36]:
# Problem 11
df['JobTitle'].value_counts()[:7]

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Custodian                       2418
TRANSIT OPERATOR                2388
Name: JobTitle, dtype: int64

In [43]:
# Problem 12
counts_data = df.loc[df['Year'] == 2013]['JobTitle'].value_counts()

In [44]:
counts_data[counts_data == 1]

Wharfinger 1                      1
Media/Security Syst Supv          1
Training Coordinator              1
Assistant Inspector               1
Director, Probate                 1
                                 ..
Mayor                             1
PrDAInvest,SpecUnit (SFERS)       1
Senior Transit Traffic Checker    1
Crime Lab Mgr                     1
Chief Electrical Inspector        1
Name: JobTitle, Length: 202, dtype: int64

In [53]:
# Problem 13
df[df['JobTitle'].str.match('CHIEF')]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status,TitleLength
9,10,JOANNE HAYES-WHITE,"CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",285262.0,0.0,17115.73,NaN,302377.73,302377.73,2011,NaN,San Francisco,NaN,38
25,26,GREGORY SUHR,CHIEF OF POLICE,256470.41,0.0,11522.18,NaN,267992.59,267992.59,2011,NaN,San Francisco,NaN,15
196,197,BURK DELVENTHAL,CHIEF ATTORNEY I (CIVIL & CRIMINAL),206752.0,0.0,0.0,NaN,206752.00,206752.00,2011,NaN,San Francisco,NaN,35
298,299,JAMES HARRIGAN,CHIEF ATTORNEY I (CIVIL & CRIMINAL),196886.55,0.0,0.0,NaN,196886.55,196886.55,2011,NaN,San Francisco,NaN,35
299,300,JOANNE HOEPER,CHIEF ATTORNEY I (CIVIL & CRIMINAL),196886.55,0.0,0.0,NaN,196886.55,196886.55,2011,NaN,San Francisco,NaN,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30155,30156,JOHN WALL,"CHIEF STATIONARY ENGINEER, SEWAGE PLANT",5451.6,0.0,10173.82,NaN,15625.42,15625.42,2011,NaN,San Francisco,NaN,39
31735,31736,BRENT POWELL,CHIEF PREPARATOR,7962.0,0.0,1699.22,NaN,9661.22,9661.22,2011,NaN,San Francisco,NaN,16
33386,33387,NORMAN DALEY,CHIEF SURVEYOR,4787.2,0.0,0.0,NaN,4787.20,4787.20,2011,NaN,San Francisco,NaN,14
34535,34536,SIMON LEE,CHIEF PAYROLL AND PERSONNEL CLERK,0.0,0.0,2453.17,NaN,2453.17,2453.17,2011,NaN,San Francisco,NaN,33
35207,35208,PATRICK BOYD,CHIEF ADULT PROBATION OFFICER,1213.24,0.0,0.0,NaN,1213.24,1213.24,2011,NaN,San Francisco,NaN,29

In [54]:
len(df[df['JobTitle'].str.match('CHIEF')])

101

In [55]:
# Problem 14
df['TitleLength'] = df['JobTitle'].str.len()
correlation = df['TitleLength'].corr(df['TotalPayBenefits'])
print(correlation)

-0.03687844593260676

In [ ]:
# No correlation here